@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: rgb(197, 197, 197);
}

.header{
    background-color: rgb(42, 127, 165);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header nav{
    order: 1;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:nth-child(1){
    padding: 0 20px 0 0;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn{
    order: 2;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: rgb(73, 199, 208);
    color: #fafafa;
    transform: scale(1.1);
}

span {
    color: #ffbc0e;
}

body.operaciones-page {
    background-color: rgb(73, 199, 208); /* Color de fondo específico para esta página */
}

/* Estilos generales para todo el sitio */
body {
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    flex-direction: column; /* Cambiar la dirección de los elementos a columna */
    padding: 20px;
}

.operacion {
    margin-bottom: 20px; /* Agregar un margen inferior entre los contenedores */
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px 5px 0px 2.5px #00000033;
    text-align: center;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    transition: background-color 0.3s ease;
}

.operacion:hover,
.operacion:focus {
    background-color: rgb(33, 53, 71);
}

.operacion:hover h2,
.operacion:hover p {
    color:#ffbc0e; /* Cambiar el color del texto al pasar el mouse sobre el contenedor */
}

.operacion h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px; /* Ajustar el tamaño de la fuente para el título */
}

.operacion p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.operacion img {
    max-width: 8.1%;
    height: auto;
    margin-top: 20px;
}

.pf {
    background-color: rgb(42, 127, 165);
    display: flex;
    justify-content: center;
    color: #ffbc0e;
}
